.total-orders {
  border-radius: 10px;
  padding: 2px;
  flex: 0 0 62%; /* Adjust the flex property to take 62% of the space */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  text-align: left; /* Align text to the start */
  flex: 1;
}

.order.card {
  background-color: #111d2d;
  padding: 20px;
  border-radius: 10px;
  flex: 1; /* Let flex properties handle the width */
  text-align: left; /* Align text to the start */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure space between elements */
}

.icon-container {
  width:45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.icon-container i {
  font-size: 24px;
}

.icon-container.blue {
  background-color: #2b1cf2;
  color: #72b0f7;
}

.icon-container.green {
  background-color: #0f4525;
  color: #5fba9b;
}

.icon-container.orange {
  background-color: #fa7a80;
  color: #ef3131;
}

.icon-container.pink {
  background-color: #c30898;
  color: #ef7de7;
}

h3 {
  color: #fff;
  margin: 18px 0; /* Add some margin for spacing */
  flex: 1; /* Allow title to take up available space */
  font-size: 16px;
}

.percentage {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items horizontally in the center */
  width: 100%; /* Make percentage take full width */
  color: #fff;
}

.percentage p {
  margin: 5px 0; /* Adjust margin for better spacing */
}

.total-orders .percentage p:nth-child(1) {
  font-size: 45px;
  font-weight: bold;
}

.total-orders .percentage p:nth-child(2) {
  font-size: 16px;
}

.up {
  color: #7ed321; /* Green color for upward indicator */
}

.down {
  color: #d0021b; /* Red color for downward indicator */
}

@media (max-width: 1200px) {

  h3 {
    font-size: 12px;
  }
  .total-orders .percentage p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
  }

  .order.card {
    padding: 15px;
  }
  .total-orders .percentage p:nth-child(2) {
    font-size: 12px;
  }

}

@media (max-width: 992px) {
  .total-orders {
    flex-direction: column;
  }

  .order.card {
    padding: 15px;
  }

  .icon-container {
    width: 35px;
    height: 30px;
  }

  .icon-container i {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  .total-orders .percentage p:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
  }
  

  .percentage p:nth-child(1) {
    font-size: 35px;
  }

  .percentage p:nth-child(2) {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .order.card {
    padding: 10px;
  }

  .icon-container {
    width: 30px;
    height: 25px;
  }

  .icon-container i {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  .percentage p:nth-child(1) {
    font-size: 25px;
  }

  .percentage p:nth-child(2) {
    font-size: 12px;
  }
}